.button {
  flex-grow: 1;
  position: relative;
  width: 25%;
  height: 100px;
  border: 2px solid #ffffff;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  &_black {
    background-color: black;
  }
  &_gray {
    background-color: gray;
  }
  &_orange {
    background-color: orange;
  }
}
